# An√°lise da Rela√ß√£o entre PIB Municipal e Emiss√µes de GEE

Trabalho de Big Data ‚Äì an√°lise em n√≠vel **munic√≠pio √ó quinqu√™nio** usando DuckDB e Python.

## 1. Imports e conex√£o com o DuckDB

In [ ]:
#!pip install duckdb
#!pip install statsmodels

import duckdb
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import statsmodels.api as sm

# Conex√£o com DuckDB em mem√≥ria
conn = duckdb.connect(database=':memory:')

## 2. Carregamento das bases de emiss√µes e PIB

In [ ]:
# ============================================================
# 2. CARREGAMENTO DAS BASES
# ============================================================

# 2.1 Emiss√µes de GEE por munic√≠pio e quinqu√™nio
PARQUET_PATH = Path("emissoes_por_quinquenio_2002_2021.parquet")
conn.execute("""
    CREATE TABLE emissoes AS
    SELECT * FROM read_parquet(?)
""", [str(PARQUET_PATH)])

print("‚úÖ Base de emiss√µes carregada")
display(conn.execute("""
    SELECT quinquenio,
           COUNT(*) AS registros,
           SUM(emissao_t) AS emissao_total
    FROM emissoes
    GROUP BY quinquenio
    ORDER BY quinquenio
""").df())

# 2.2 PIB Municipal (PIB_M.csv)
PIB_PATH = Path("PIB_M.csv")
conn.execute("""
    CREATE TABLE pib_raw AS
    SELECT * FROM read_csv_auto(?)
""", [str(PIB_PATH)])

print("‚úÖ Base de PIB bruto carregada")
display(conn.execute("""
    SELECT 
        MIN(ano) AS ano_min,
        MAX(ano) AS ano_max,
        COUNT(DISTINCT id_municipio) AS municipios,
        COUNT(*) AS registros
    FROM pib_raw
""").df())

## 3. Tratamento e agrega√ß√£o do PIB por munic√≠pio e quinqu√™nio

In [ ]:
# ============================================================
# 3. TRATAMENTO DO PIB: C√ìDIGO DO MUNIC√çPIO + QUINQU√äNIOS
# ============================================================

# 3.1 Cria tabela PIB com c√≥digo de munic√≠pio e quinqu√™nio
conn.execute("""
    CREATE TABLE pib AS
    SELECT 
        SUBSTRING(id_municipio::VARCHAR, 1, 6) AS cod_municipio,
        ano,
        CASE 
            WHEN ano BETWEEN 2002 AND 2006 THEN '2002-2006'
            WHEN ano BETWEEN 2007 AND 2011 THEN '2007-2011'
            WHEN ano BETWEEN 2012 AND 2016 THEN '2012-2016'
            WHEN ano BETWEEN 2017 AND 2021 THEN '2017-2021'
            ELSE NULL
        END AS quinquenio,
        pib,
        impostos_liquidos,
        va,
        va_agropecuaria,
        va_industria,
        va_servicos,
        va_adespss
    FROM pib_raw
    WHERE ano BETWEEN 2002 AND 2021
""")

print("‚úÖ Tabela PIB criada com quinqu√™nios")
display(conn.execute("""
    SELECT quinquenio, COUNT(*) AS registros
    FROM pib
    GROUP BY quinquenio
    ORDER BY quinquenio
""").df())

# 3.2 Agrega PIB por munic√≠pio + quinqu√™nio (n√≠vel certo de an√°lise)
conn.execute("""
    CREATE TABLE pib_agregado AS
    SELECT 
        cod_municipio,
        quinquenio,
        SUM(pib) AS pib_total,
        SUM(impostos_liquidos) AS impostos_total,
        SUM(va) AS va_total,
        SUM(va_agropecuaria) AS va_agro_total,
        SUM(va_industria) AS va_ind_total,
        SUM(va_servicos) AS va_serv_total,
        SUM(va_adespss) AS va_adesp_total,
        COUNT(*) AS anos_no_quinquenio
    FROM pib
    WHERE quinquenio IS NOT NULL
    GROUP BY cod_municipio, quinquenio
""")

print("‚úÖ PIB agregado por munic√≠pio e quinqu√™nio")
display(conn.execute("SELECT * FROM pib_agregado LIMIT 10").df())

## 4. Tabela de munic√≠pios (de-para c√≥digo IBGE)

In [ ]:
# ============================================================
# 4. TABELA DE MUNIC√çPIOS (DE-PARA C√ìDIGO IBGE)
# ============================================================

MUNICIPIOS_PATH = Path("municipios.csv")
df_municipios = pd.read_csv(MUNICIPIOS_PATH, encoding="utf-8")

df_municipios["cod_municipio"] = df_municipios["codigo_ibge"].astype(str).str[:6]
df_municipios["uf"] = df_municipios["uf"].astype(str)
df_municipios["cidade"] = df_municipios["nome"] + " (" + df_municipios["uf"] + ")"

# Registra no DuckDB
conn.register("municipios", df_municipios[["cod_municipio", "nome", "uf", "cidade"]])

print(f"‚úÖ Tabela de munic√≠pios carregada. Total de munic√≠pios: {len(df_municipios)}")
display(conn.execute("SELECT * FROM municipios LIMIT 5").df())

## 5. Constru√ß√£o da base principal: munic√≠pio √ó quinqu√™nio

In [ ]:
# ============================================================
# 5. EMISS√ïES COM C√ìDIGO DO MUNIC√çPIO E BASE MUNIC√çPIO √ó QUINQU√äNIO
# ============================================================

# 5.1 Junta emiss√µes com tabela de munic√≠pios
conn.execute("""
    CREATE OR REPLACE TABLE emissoes_temp AS
    SELECT 
        e.*,
        m.cod_municipio
    FROM emissoes e
    JOIN municipios m 
      ON e.Cidade = m.cidade
""")

print("‚úÖ Tabela emissoes_temp criada (emiss√µes + cod_municipio)")
display(conn.execute("SELECT * FROM emissoes_temp LIMIT 5").df())

# 5.2 Base principal: munic√≠pio √ó quinqu√™nio (emiss√µes + PIB)
conn.execute("""
    CREATE OR REPLACE TABLE base_mun_quinquenio AS
    SELECT
        et.cod_municipio,
        et.Cidade,
        et.quinquenio,
        SUM(et.emissao_t) AS emissao_total_quinquenio,
        pa.pib_total       AS pib_total_quinquenio,
        pa.impostos_total,
        pa.va_total,
        pa.va_agro_total,
        pa.va_ind_total,
        pa.va_serv_total,
        pa.va_adesp_total,
        pa.anos_no_quinquenio
    FROM emissoes_temp et
    JOIN pib_agregado pa
      ON et.cod_municipio = pa.cod_municipio
     AND et.quinquenio   = pa.quinquenio
    GROUP BY
        et.cod_municipio,
        et.Cidade,
        et.quinquenio,
        pa.pib_total,
        pa.impostos_total,
        pa.va_total,
        pa.va_agro_total,
        pa.va_ind_total,
        pa.va_serv_total,
        pa.va_adesp_total,
        pa.anos_no_quinquenio
""")

print("‚úÖ Tabela base_mun_quinquenio criada (n√≠vel munic√≠pio √ó quinqu√™nio)")
display(conn.execute("SELECT * FROM base_mun_quinquenio LIMIT 5").df())

## 6. Visualiza√ß√£o: gr√°fico de dispers√£o PIB √ó emiss√µes

In [ ]:
# ============================================================
# 6. VISUALIZA√á√ÉO: GR√ÅFICO DE DISPERS√ÉO PIB √ó EMISS√ïES
# ============================================================

df_base = conn.execute("""
    SELECT pib_total_quinquenio, emissao_total_quinquenio, quinquenio
    FROM base_mun_quinquenio
""").df()

plt.figure()
for q in sorted(df_base["quinquenio"].unique()):
    sub = df_base[df_base["quinquenio"] == q]
    plt.scatter(sub["pib_total_quinquenio"], sub["emissao_total_quinquenio"], alpha=0.4, label=q)

plt.xlabel("PIB total no quinqu√™nio")
plt.ylabel("Emiss√µes totais de GEE no quinqu√™nio")
plt.title("PIB √ó Emiss√µes ‚Äì munic√≠pios por quinqu√™nio")
plt.legend()
plt.tight_layout()
plt.show()

## 7. Rela√ß√£o PIB √ó emiss√µes: correla√ß√µes e signific√¢ncia

In [ ]:
# ============================================================
# 7. RELA√á√ÉO PIB √ó EMISS√ïES: CORRELA√á√ïES E SIGNIFIC√ÇNCIA
# ============================================================

print("\nüí° Correla√ß√£o por quinqu√™nio (PIB municipal vs emiss√µes totais de GEE)")

# 7.1 Correla√ß√£o por quinqu√™nio
display(conn.execute("""
    SELECT 
        quinquenio,
        COUNT(DISTINCT cod_municipio) AS num_municipios,
        SUM(pib_total_quinquenio)     AS pib_total,
        SUM(emissao_total_quinquenio) AS emissao_total,
        ROUND(AVG(pib_total_quinquenio), 2)      AS pib_medio,
        ROUND(AVG(emissao_total_quinquenio), 2)  AS emissao_media,
        ROUND(CORR(pib_total_quinquenio, emissao_total_quinquenio), 4) AS correlacao_pearson
    FROM base_mun_quinquenio
    GROUP BY quinquenio
    ORDER BY quinquenio
""").df())

# 7.2 Correla√ß√£o geral (todos os munic√≠pios e quinqu√™nios)
print("\nüí° Correla√ß√£o geral (todos os munic√≠pios e per√≠odos)")

display(conn.execute("""
    WITH stats AS (
        SELECT 
            CORR(pib_total_quinquenio, emissao_total_quinquenio) AS correlacao_geral,
            COUNT(*) AS total_observacoes,
            COUNT(DISTINCT cod_municipio) AS total_municipios,
            SUM(pib_total_quinquenio) AS pib_total,
            SUM(emissao_total_quinquenio) AS emissao_total
        FROM base_mun_quinquenio
    )
    SELECT 
        ROUND(correlacao_geral, 4) AS correlacao_pearson,
        total_observacoes,
        total_municipios,
        ROUND(pib_total, 2) AS pib_total,
        ROUND(emissao_total, 2) AS emissao_total,
        CASE 
            WHEN correlacao_geral > 0.7 THEN 'HIP√ìTESE FORTEMENTE CONFIRMADA'
            WHEN correlacao_geral > 0.4 THEN 'HIP√ìTESE CONFIRMADA (correla√ß√£o moderada)'
            WHEN correlacao_geral > 0.2 THEN 'HIP√ìTESE PARCIALMENTE CONFIRMADA (correla√ß√£o fraca)'
            ELSE 'HIP√ìTESE N√ÉO CONFIRMADA'
        END AS conclusao
    FROM stats
""").df())

# 7.3 Teste de signific√¢ncia da correla√ß√£o por quinqu√™nio (t-statistic)
print("\nüí° Teste de signific√¢ncia (t-statistic aproximado) por quinqu√™nio")
print("   Interpreta√ß√£o: p < 0.05 indica que a rela√ß√£o dificilmente √© ao acaso")

display(conn.execute("""
    WITH stats_quinquenio AS (
        SELECT 
            quinquenio,
            CORR(pib_total_quinquenio, emissao_total_quinquenio) AS correlacao,
            COUNT(*) AS n,
            CORR(pib_total_quinquenio, emissao_total_quinquenio)
                * SQRT( (COUNT(*) - 2) / (1 - POWER(CORR(pib_total_quinquenio, emissao_total_quinquenio), 2)) )
              AS t_statistic
        FROM base_mun_quinquenio
        GROUP BY quinquenio
    )
    SELECT 
        quinquenio,
        ROUND(correlacao, 4) AS correlacao,
        n AS tamanho_amostra,
        ROUND(t_statistic, 4) AS t_statistic_aproximado,
        CASE 
            WHEN ABS(t_statistic) > 2.576 THEN 'p < 0.01 (Muito significativo)'
            WHEN ABS(t_statistic) > 1.960 THEN 'p < 0.05 (Significativo)'
            WHEN ABS(t_statistic) > 1.645 THEN 'p < 0.10 (Marginalmente significativo)'
            ELSE 'N√£o significativo'
        END AS significancia_estatistica
    FROM stats_quinquenio
    ORDER BY quinquenio
""").df())

## 8. Regress√£o linear simples (OLS) entre PIB e emiss√µes

In [ ]:
# ============================================================
# 8. REGRESS√ÉO LINEAR SIMPLES: EMISS√ïES ~ PIB
# ============================================================

df_reg = conn.execute("""
    SELECT 
        pib_total_quinquenio AS pib,
        emissao_total_quinquenio AS emis
    FROM base_mun_quinquenio
    WHERE pib_total_quinquenio > 0
      AND emissao_total_quinquenio > 0
""").df()

X = sm.add_constant(df_reg["pib"])
y = df_reg["emis"]

model = sm.OLS(y, X).fit()
print(model.summary())

## 9. An√°lise por faixas de PIB

In [ ]:
# ============================================================
# 9. AN√ÅLISE POR FAIXAS DE PIB
# ============================================================

print("\nüí° Munic√≠pios com PIB maior deveriam ter emiss√µes m√©dias maiores")

display(conn.execute("""
    SELECT 
        CASE 
            WHEN pib_total_quinquenio < 100000    THEN '1. At√© 100 mil'
            WHEN pib_total_quinquenio < 500000   THEN '2. 100-500 mil'
            WHEN pib_total_quinquenio < 1000000  THEN '3. 500mil-1M'
            WHEN pib_total_quinquenio < 5000000  THEN '4. 1M-5M'
            ELSE '5. Acima de 5M'
        END AS faixa_pib,
        COUNT(*) AS num_registros,
        ROUND(AVG(pib_total_quinquenio), 2)      AS pib_medio,
        ROUND(AVG(emissao_total_quinquenio), 2)  AS emissao_media,
        ROUND(MIN(emissao_total_quinquenio), 2)  AS emissao_minima,
        ROUND(MAX(emissao_total_quinquenio), 2)  AS emissao_maxima
    FROM base_mun_quinquenio
    GROUP BY faixa_pib
    ORDER BY faixa_pib
""").df())

## 10. Crescimento do PIB e das emiss√µes ao longo do tempo

In [ ]:
# ============================================================
# 10. CRESCIMENTO DO PIB vs CRESCIMENTO DAS EMISS√ïES
# ============================================================

print("\nüí° Crescimento do PIB vs crescimento das emiss√µes por munic√≠pio e quinqu√™nio")

display(conn.execute("""
    WITH crescimento AS (
        SELECT 
            cod_municipio,
            Cidade,
            quinquenio,
            pib_total_quinquenio       AS pib,
            emissao_total_quinquenio   AS emissao,
            LAG(pib_total_quinquenio) 
                OVER (PARTITION BY cod_municipio ORDER BY quinquenio) AS pib_anterior,
            LAG(emissao_total_quinquenio) 
                OVER (PARTITION BY cod_municipio ORDER BY quinquenio) AS emissao_anterior
        FROM base_mun_quinquenio
    )
    SELECT 
        quinquenio,
        COUNT(*) AS num_municipios,
        ROUND(AVG( (pib - pib_anterior) / NULLIF(pib_anterior, 0) * 100 ), 2)      AS crescimento_pib_pct_medio,
        ROUND(AVG( (emissao - emissao_anterior) / NULLIF(emissao_anterior, 0) * 100 ), 2) AS crescimento_emissao_pct_medio,
        ROUND(CORR(
            (pib - pib_anterior) / NULLIF(pib_anterior, 0), 
            (emissao - emissao_anterior) / NULLIF(emissao_anterior, 0)
        ), 4) AS correlacao_crescimentos
    FROM crescimento
    WHERE pib_anterior IS NOT NULL
      AND emissao_anterior IS NOT NULL
    GROUP BY quinquenio
    ORDER BY quinquenio
""").df())

print("\nüí° Munic√≠pios com maior aumento de emiss√µes entre 2002-2006 e 2017-2021")

display(conn.execute("""
    WITH emissoes_periodo AS (
        SELECT 
            cod_municipio,
            Cidade,
            MIN(CASE WHEN quinquenio = '2002-2006' THEN emissao_total_quinquenio END) AS emissao_2002,
            MAX(CASE WHEN quinquenio = '2017-2021' THEN emissao_total_quinquenio END) AS emissao_2021,
            MIN(CASE WHEN quinquenio = '2002-2006' THEN pib_total_quinquenio END)    AS pib_2002,
            MAX(CASE WHEN quinquenio = '2017-2021' THEN pib_total_quinquenio END)    AS pib_2021
        FROM base_mun_quinquenio
        GROUP BY cod_municipio, Cidade
        HAVING emissao_2002 IS NOT NULL 
           AND emissao_2021 IS NOT NULL
           AND emissao_2002 > 0
    )
    SELECT 
        Cidade,
        ROUND(emissao_2002, 2) AS emissao_2002_2006,
        ROUND(emissao_2021, 2) AS emissao_2017_2021,
        ROUND(emissao_2021 - emissao_2002, 2) AS crescimento_absoluto,
        ROUND((emissao_2021 - emissao_2002) / NULLIF(emissao_2002, 0) * 100, 2) AS crescimento_emissao_pct,
        ROUND(pib_2021 - pib_2002, 2) AS crescimento_pib_absoluto,
        ROUND((pib_2021 - pib_2002) / NULLIF(pib_2002, 0) * 100, 2) AS crescimento_pib_pct
    FROM emissoes_periodo
    ORDER BY crescimento_absoluto DESC
    LIMIT 30
""").df())

## 11. Intensidade de carbono e evolu√ß√£o temporal de emiss√µes, PIB e intensidade

In [ ]:
# ============================================================
# 11. INTENSIDADE DE CARBONO (EMISS√ïES / PIB) E S√âRIES TEMPORAIS
# ============================================================

print("\nüí° Intensidade de carbono por quinqu√™nio (emiss√µes / PIB)")

df_int = conn.execute("""
    SELECT 
        quinquenio,
        SUM(emissao_total_quinquenio) AS emis,
        SUM(pib_total_quinquenio) AS pib,
        SUM(emissao_total_quinquenio) / SUM(pib_total_quinquenio) AS intensidade
    FROM base_mun_quinquenio
    WHERE pib_total_quinquenio > 0
    GROUP BY quinquenio
    ORDER BY quinquenio
""").df()

display(df_int)

# Gr√°fico de emiss√µes totais
plt.figure()
plt.plot(df_int["quinquenio"], df_int["emis"], marker="o")
plt.xlabel("Quinqu√™nio")
plt.ylabel("Emiss√µes totais de GEE")
plt.title("Emiss√µes totais por quinqu√™nio")
plt.tight_layout()
plt.show()

# Gr√°fico de PIB total
plt.figure()
plt.plot(df_int["quinquenio"], df_int["pib"], marker="o")
plt.xlabel("Quinqu√™nio")
plt.ylabel("PIB total")
plt.title("PIB total por quinqu√™nio")
plt.tight_layout()
plt.show()

# Gr√°fico de intensidade de carbono
plt.figure()
plt.plot(df_int["quinquenio"], df_int["intensidade"], marker="o")
plt.xlabel("Quinqu√™nio")
plt.ylabel("Intensidade de carbono (emiss√µes / PIB)")
plt.title("Intensidade de carbono por quinqu√™nio")
plt.tight_layout()
plt.show()

## 12. An√°lises setoriais de emiss√µes

In [ ]:
# ============================================================
# 12. AN√ÅLISES SETORIAIS DE EMISS√ïES (SEM DUPLICAR PIB)
# ============================================================

print("\nüí° Crescimento de emiss√µes por setor (2002-2006 vs 2017-2021)")

display(conn.execute("""
    WITH emissoes_setor AS (
        SELECT 
            Setor_Agrupado,
            SUM(CASE WHEN quinquenio = '2002-2006' THEN emissao_t END) AS emissao_2002,
            SUM(CASE WHEN quinquenio = '2017-2021' THEN emissao_t END) AS emissao_2021
        FROM emissoes_temp
        GROUP BY Setor_Agrupado
    )
    SELECT 
        Setor_Agrupado,
        ROUND(emissao_2002, 2) AS emissao_2002_2006,
        ROUND(emissao_2021, 2) AS emissao_2017_2021,
        ROUND(emissao_2021 - emissao_2002, 2) AS variacao_absoluta,
        ROUND((emissao_2021 - emissao_2002) / NULLIF(emissao_2002, 0) * 100, 2) AS crescimento_pct,
        CASE 
            WHEN emissao_2021 > emissao_2002 THEN 'Crescimento'
            WHEN emissao_2021 < emissao_2002 THEN 'Redu√ß√£o'
            ELSE 'Est√°vel'
        END AS status
    FROM emissoes_setor
    ORDER BY crescimento_pct DESC
""").df())

print("\nüí° Tend√™ncia temporal das emiss√µes por setor")

display(conn.execute("""
    SELECT 
        Setor_Agrupado,
        quinquenio,
        ROUND(SUM(emissao_t), 2) AS emissao_total,
        COUNT(DISTINCT cod_municipio) AS num_municipios,
        ROUND(AVG(emissao_t), 2) AS emissao_media_municipio
    FROM emissoes_temp
    GROUP BY Setor_Agrupado, quinquenio
    ORDER BY Setor_Agrupado, quinquenio
""").df())

print("\nüí° Participa√ß√£o setorial nas emiss√µes totais de cada quinqu√™nio")

display(conn.execute("""
    WITH emissoes_totais AS (
        SELECT quinquenio, SUM(emissao_t) AS total_geral
        FROM emissoes_temp
        GROUP BY quinquenio
    )
    SELECT 
        e.quinquenio,
        e.Setor_Agrupado,
        ROUND(SUM(e.emissao_t), 2) AS emissao_setor,
        ROUND(t.total_geral, 2) AS emissao_total,
        ROUND(SUM(e.emissao_t) / t.total_geral * 100, 2) AS participacao_pct
    FROM emissoes_temp e
    JOIN emissoes_totais t ON e.quinquenio = t.quinquenio
    GROUP BY e.quinquenio, e.Setor_Agrupado, t.total_geral
    ORDER BY e.quinquenio, participacao_pct DESC
""").df())

print("\nüí° CAGR das emiss√µes por setor (crescimento anual composto)")

display(conn.execute("""
    WITH setor_periodo AS (
        SELECT 
            Setor_Agrupado,
            SUM(CASE WHEN quinquenio = '2002-2006' THEN emissao_t END) AS emissao_inicial,
            SUM(CASE WHEN quinquenio = '2017-2021' THEN emissao_t END) AS emissao_final,
            15 AS anos -- aprox. 2003 ‚Üí 2018
        FROM emissoes_temp
        GROUP BY Setor_Agrupado
        HAVING SUM(CASE WHEN quinquenio = '2002-2006' THEN emissao_t END) > 0
    )
    SELECT 
        Setor_Agrupado,
        ROUND(emissao_inicial, 2) AS emissao_inicial,
        ROUND(emissao_final, 2) AS emissao_final,
        ROUND((POWER(emissao_final / NULLIF(emissao_inicial, 0), 1.0/anos) - 1) * 100, 2) AS cagr_pct,
        CASE 
            WHEN (POWER(emissao_final / NULLIF(emissao_inicial, 0), 1.0/anos) - 1) * 100 > 5  THEN 'Alto crescimento'
            WHEN (POWER(emissao_final / NULLIF(emissao_inicial, 0), 1.0/anos) - 1) * 100 > 0  THEN 'Crescimento moderado'
            WHEN (POWER(emissao_final / NULLIF(emissao_inicial, 0), 1.0/anos) - 1) * 100 > -5 THEN 'Est√°vel'
            ELSE 'Em redu√ß√£o'
        END AS classificacao
    FROM setor_periodo
    ORDER BY cagr_pct DESC
""").df())

print("\nüí° Setores com redu√ß√£o relevante de emiss√µes (2002-2006 ‚Üí 2017-2021)")

display(conn.execute("""
    WITH reducao_setor AS (
        SELECT 
            Setor_Agrupado,
            SUM(CASE WHEN quinquenio = '2002-2006' THEN emissao_t END) AS emissao_inicial,
            SUM(CASE WHEN quinquenio = '2017-2021' THEN emissao_t END) AS emissao_final
        FROM emissoes_temp
        GROUP BY Setor_Agrupado
        HAVING SUM(CASE WHEN quinquenio = '2017-2021' THEN emissao_t END) <
               SUM(CASE WHEN quinquenio = '2002-2006' THEN emissao_t END)
    )
    SELECT 
        Setor_Agrupado,
        ROUND(emissao_inicial, 2) AS emissao_2002_2006,
        ROUND(emissao_final, 2) AS emissao_2017_2021,
        ROUND(emissao_inicial - emissao_final, 2) AS reducao_absoluta,
        ROUND((emissao_inicial - emissao_final) / NULLIF(emissao_inicial, 0) * 100, 2) AS reducao_percentual
    FROM reducao_setor
    ORDER BY reducao_percentual DESC
""").df())

print("\nüí° Cases de sucesso: munic√≠pios/setores com forte redu√ß√£o de emiss√µes")

display(conn.execute("""
    WITH reducao_municipio_setor AS (
        SELECT 
            Cidade,
            Setor_Agrupado,
            MIN(CASE WHEN quinquenio = '2002-2006' THEN emissao_t END) AS emissao_inicial,
            MAX(CASE WHEN quinquenio = '2017-2021' THEN emissao_t END) AS emissao_final
        FROM emissoes_temp
        GROUP BY Cidade, Setor_Agrupado
        HAVING MIN(CASE WHEN quinquenio = '2002-2006' THEN emissao_t END) >
               MAX(CASE WHEN quinquenio = '2017-2021' THEN emissao_t END)
           AND MIN(CASE WHEN quinquenio = '2002-2006' THEN emissao_t END) > 1000
    )
    SELECT 
        Setor_Agrupado,
        Cidade,
        ROUND(emissao_inicial, 2) AS emissao_inicial,
        ROUND(emissao_final, 2)   AS emissao_final,
        ROUND((emissao_inicial - emissao_final) / emissao_inicial * 100, 2) AS reducao_pct
    FROM reducao_municipio_setor
    ORDER BY Setor_Agrupado, reducao_pct DESC
    LIMIT 50
""").df())

## 13. Desempenho de macro-setores: emiss√µes vs valor adicionado

In [ ]:
# ============================================================
# 13. DESEMPENHO DE MACRO-SETOR: EMISS√ïES vs VALOR ADICIONADO
# ============================================================

print("\nüí° Desempenho de macro-setores (Agro / Ind√∫stria / Servi√ßos): emiss√µes vs VA")

display(conn.execute("""
    -- Emiss√µes por macro-setor (Agro / Ind√∫stria / Servi√ßos) e quinqu√™nio
    WITH emissao_macro AS (
        SELECT 
            CASE 
                WHEN Setor_Agrupado ILIKE '%agro%' OR Setor_Agrupado ILIKE '%agr%' 
                    THEN 'Agro'
                WHEN Setor_Agrupado ILIKE '%ind%' 
                    THEN 'Ind√∫stria'
                WHEN Setor_Agrupado ILIKE '%serv%' 
                    THEN 'Servi√ßos'
                ELSE 'Outros'
            END AS macro_setor,
            quinquenio,
            SUM(emissao_t) AS emissao_total
        FROM emissoes_temp
        GROUP BY macro_setor, quinquenio
    ),
    -- Valor adicionado setorial agregado por quinqu√™nio (a partir do PIB)
    va_macro_long AS (
        SELECT 'Agro'      AS macro_setor, quinquenio, SUM(va_agro_total) AS va_total
        FROM pib_agregado
        GROUP BY quinquenio
        UNION ALL
        SELECT 'Ind√∫stria' AS macro_setor, quinquenio, SUM(va_ind_total) AS va_total
        FROM pib_agregado
        GROUP BY quinquenio
        UNION ALL
        SELECT 'Servi√ßos'  AS macro_setor, quinquenio, SUM(va_serv_total) AS va_total
        FROM pib_agregado
        GROUP BY quinquenio
    ),
    desempenho AS (
        SELECT 
            e.macro_setor,
            e.quinquenio,
            e.emissao_total,
            v.va_total
        FROM emissao_macro e
        JOIN va_macro_long v
          ON e.macro_setor = v.macro_setor
         AND e.quinquenio = v.quinquenio
        WHERE e.macro_setor IN ('Agro','Ind√∫stria','Servi√ßos')
    ),
    resumo AS (
        SELECT 
            macro_setor,
            SUM(CASE WHEN quinquenio = '2002-2006' THEN emissao_total END) AS emissao_inicial,
            SUM(CASE WHEN quinquenio = '2017-2021' THEN emissao_total END) AS emissao_final,
            SUM(CASE WHEN quinquenio = '2002-2006' THEN va_total END)      AS va_inicial,
            SUM(CASE WHEN quinquenio = '2017-2021' THEN va_total END)      AS va_final
        FROM desempenho
        GROUP BY macro_setor
    )
    SELECT 
        macro_setor,
        ROUND(emissao_inicial, 2) AS emissao_2002_2006,
        ROUND(emissao_final, 2)   AS emissao_2017_2021,
        ROUND((emissao_final - emissao_inicial) / NULLIF(emissao_inicial, 0) * 100, 2) AS variacao_emissao_pct,
        ROUND(va_inicial, 2)      AS va_2002_2006,
        ROUND(va_final, 2)        AS va_2017_2021,
        ROUND((va_final - va_inicial) / NULLIF(va_inicial, 0) * 100, 2) AS variacao_va_pct,
        CASE 
            WHEN (emissao_final - emissao_inicial) < 0 AND (va_final - va_inicial) > 0 
                THEN 'Cresceu com redu√ß√£o de emiss√µes'
            WHEN (emissao_final - emissao_inicial) < (va_final - va_inicial) 
                THEN 'Crescimento mais limpo'
            WHEN (emissao_final - emissao_inicial) > (va_final - va_inicial) 
                THEN 'Emiss√µes cresceram mais que economia'
            ELSE 'Performance neutra'
        END AS desempenho_sustentavel
    FROM resumo
    WHERE va_inicial > 0 AND emissao_inicial > 0
    ORDER BY macro_setor
""").df())

print("\nüéØ Fim da an√°lise. A hip√≥tese foi testada em n√≠vel munic√≠pio √ó quinqu√™nio,")